table
  thead
    tr
      th Title
      th Author
      th Genre
      th Year

  tbody
    each book in books
      tr
        td
         a(href="/books/" + book.dataValues.id)=book.dataValues.title
        td= book.dataValues.author
        td= book.dataValues.genre
        td= book.dataValues.year



ul.pagination
    li
      if currentPage > 1
        a(href=`/books?page=${currentPage - 1}`, class=(currentPage === 1 ? 'disabled' : '')) Previous
      else
        span.disabled Previous
    each page in Array.from({ length: totalPages }, (_, i) => i + 1)
      li(class=(currentPage === page ? 'active' : ''))
        a(href=`/books?page=${page}`)= page
    li
      if currentPage < totalPages
        a(href=`/books?page=${currentPage + 1}`, class=(currentPage === totalPages ? 'disabled' : '')) Next
      else
        span.disabled Next


                