table
  thead
    tr
      th Title
      th Author
      th Genre
      th Year

  tbody
    each book in books
      tr
        td
         a(href="/books/" + book.dataValues.id)=book.dataValues.title
        td= book.dataValues.author
        td= book.dataValues.genre
        td= book.dataValues.year



if (totalPages > 1)
  ul.pagination
    if (currentPage > 1)
      li.page-item
        a.page-link(href=`/books?page=${currentPage - 1}`) Previous
    each page in Array.from({ length: totalPages }, (_, i) => i + 1)
      li.page-item(class=currentPage === page ? 'active' : '')
        a.page-link(href=`/books?page=${page}`, class=currentPage === page ? 'active' : '')= page
    if (currentPage < totalPages)
      li.page-item
        a.page-link(href=`/books?page=${currentPage + 1}`) Next


                