extends layout

block content
  body
    ul
      li
        label Title:
        span #{book.title}
      li
        label Author:
        span #{book.author}
      li
        label Genre:
        span #{book.genre}
      li
        label Year:
        span #{book.year}

    a(href=`/books/${book.id}/update`, class="btn") Update Book
    a(href=`/books/${book.id}/delete`, class="btn") Delete Book
    a(href="/books", class="btn") Cancel


