extends layout

block content
  body
    ul(class="shul")
      li
        label Title:
        span #{book.title}
      li
        label Author:
        span #{book.author}
      li
        label Genre:
        span #{book.genre}
      li
        label Year:
        span #{book.year}

    a(href=`/books/${book.id}/update`, class="sbtn") Update Book
    a(href=`/books/${book.id}/delete`, class="sbtn") Delete Book
    a(href="/books", class="sbtn") Cancel




