extends layout

block content
    body
        form(action=`/books/${book.id}/update?_method=PUT`, method="POST")
            h1 Update Book
            if (validationErrors && validationErrors.length > 0)
                div(class="error")
                    h3 Oops!
                    ul
                        each error in validationErrors
                            li= error
            ul
                li
                    label(for="title") Title:
                    input(type="text", name="title", value=book.title, id="title")
                li
                    label(for="author") Author:
                    input(type="text", name="author", value=book.author, id="author")
                li
                    label(for="genre") Genre:
                    input(type="text", name="genre", value=book.genre, id="genre")
                li
                    label(for="year") Year:
                    input(type="number", name="year", value=book.year, id="year")

            button(type="submit" class="btn") Update Book
            a(href="/books", class="btn") Cancel
            a(href=`/books/${book.id}/delete`, class="btn") Delete Book





    script(src="../scripts/focus.js")
